<!DOCTYPE html>
<html>
<head>
  <title>Crowdfunder</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">CrowdFunder</a>
    <ul class="nav">
      <li class="<%= 'active' if current_page? root_path %>"><%= link_to "Home", root_path%></li>
      <li class="<%='active' if current_page? projects_index_path %>"><%= link_to "Projects", projects_index_path%></li>
    </ul>
  </div>
</div>

<%= yield %>

</body>
</html>
