<!DOCTYPE html>
<html>
<head>
  <title>Crowdfunder</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">CrowdFunder</a>
      <ul class="nav">
        <li class="<%='active' if controller_name == 'welcome' %>"><%= link_to "Home", root_path%></li>
        <li class="<%='active' if controller_name == 'projects' %>"><%= link_to "Projects", projects_path%></li>
        <% if logged_in? %>
          <li class="<%='active' if controller_name == 'my/projects'%>"><%= link_to "My Projects", 
          my_projects_path%></li>
        <%end%>
      </ul>
      <div class="pull-right">
        <% if logged_in? %>

          <%= link_to 'Logout', :session, :method => :delete, class: 'btn' %>
        <% else %>
          <%= link_to 'Sign Up', [:new, :user], class: 'btn btn-primary' %>
          <%= link_to 'Sign In', [:new, :session], class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:alert] %>
  <div class="alert alert-success">
    <%= flash[:alert] %>
  </div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
