<h1>Edit <%=@project.title%></h1>

<%= form_for [:my, @project] do |f| %>

  <p><%= f.text_field :title, placeholder: "Title" %></p>
  <p><%= f.text_field :description, placeholder: "Description" %></p>
  <p><%= f.text_field :teaser, placeholder: "Teaser"%></p>
  <p><%= f.text_field :goal, placeholder: "Goal"%></p>
  <%= f.submit "Update", class: "btn btn-primary"%>
<%end%>
  <%= link_to "Upload Images", my_project_images_path(@project), :class => "btn btn-primary"%>
  <br/>
  <br/>
<%= link_to "Delete", my_project_path(@project), :method => :delete, :confirm => "Are you sure?", :class => "btn btn-danger"%>