
<h1><%=@project.title%></h1>
<p><%=@project.teaser%></p>


<p>Pledged: <%=@sum%></p>

<p>Created By: <%=@project.user.first_name%> <%=@project.user.last_name%></p>

<%= form_for ([@project, @pledge]) do |f| %>
  <%= f.number_field :amount, :placeholder => "Pledge Now!"  %>
  <br/>
  <%= f.submit 'Create Pledge', class: 'btn btn-primary'%>
  
<%end%>

<footer>*Everything is in Canadian dollars*</footer>
